body{  /*全部的字體設為微軟正黑體*/
	font-family:"微軟正黑體";
}
.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}
.nav-link{
	font-size: 20px;
	margin:0 10px 0 10px;
}
.item{
	margin-left: 5%;
	border-style: solid;
	border-width: 1px;
}
.product_name{
	font-size: 20px;
	margin: 8%;
	text-align: center;
}
.product_price{
	color: red;
	font-size: 20px;
	text-align: center;
}
.product_store{
	font-size: 15px;
}
.store_icon{
	height:50px;
	width:100px;
	border-radius:15px
}
.store_button{
	background-color:white;
	border:hidden;	
	margin-left:4%;
	margin-right:4%;
}
#b1, #b2, #b3, #b4{
    display: inline-block;
}
#p1, #p2, #p3, #p4{
    display: inline-block;
}
.kk{
}

.a{
	color:white;
	text-decoration:none;
}

.a:hover{
  	color:white;
  	background-color:dimgray;
 	text-decoration:none;
	border-radius:60px;
}
#pp .kk .more {
    visibility: hidden;
}

#pp .kk:hover .more {
    visibility: visible;
}​
